.container {
    margin-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.error-container {
    text-align: left;
    margin: 0 auto;
    width: 50%;
}

h1 {
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 16px;
    color: white;
}

p {
    font-size: 24px;
    line-height: 28px;
}

a {
    border-bottom-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    background-color: #4696e5;
    color: #d0e4f8;
    background-image: url(/overlay.png), url(/pattern-size1.svg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto, cover;
}