<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/error.css">
</head>
<body>
    <div class="container">
        <img width="200" height="200" src="/atom.png">
        <div class="error-container">
            <h1>Something's wrong here.</h1>
            <p>
                This is a 404 error, which means you've clicked on a bad link or entered an invalid URL. Try returning
                back to the <a href="/">homepage!</a>
            </p>
        </div>
    </div>
</body>
</html>